<h1 class="pb-2">Search your dream stay</h1>
<p class="pb-1">Your <strong>dream home</strong> is just one click away.</p>

<%= render 'search_form' %>

<h1 class="py-2">All listings</h1>
<div class="list-card-container">
  <% @listings.each do |listing| %>
    <%= render "shared/list-card", listing: listing %>
  <% end %>
</div>
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
