<h2> Details of this home </h2>

<div class="d-flex align-items-center">
  <div class="btn btn-flat btn-primary btn-home my-3"><%= link_to "Make booking request", new_listing_offer_path(@listing, @offer) %></div>
  <div class="btn btn-flat btn-primary btn-home mx-3 my-3"><%= link_to "Back to all", listings_index_path %></div>
  <span class="flex-grow-1"></span>
</div>
