<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/white-motor-scooter-near-building-vk4vjTNVrTg);">
  <div class="container text-sm-start text-md-center text-lg-center text-xl-center">
    <h1>Rbnb</h1>
    <p>Book your stay and <strong>unleash your wanderlust</strong></p>
    <a class="btn btn-flat btn-light" href="/listings">find your dream stay</a>
  </div>
</div>
