<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/white-motor-scooter-near-building-vk4vjTNVrTg);">
  <div class="container text-sm-start text-md-center text-lg-center text-xl-center">
    <h1>rbnb</h1>
    <h4>Travelling - made easy</h4>
    <a class="btn btn-flat btn-light" href="/listings">Book your vacation dreamhouse</a>
  </div>
</div>
