<h3 class="pb-2 border-bottom"></h3>
<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
  <div class="col d-flex align-items-start">
    <div class="flex-shrink-0 me-3">
      <i class="fa-solid fa-map-location-dot"></i>
    </div>
    <div>
      <h4>Find your dream stay</h4>
      <p>Discover a world of hassle-free travel planning as you browse through an extensive collection of unique accommodations, effortlessly tailored to your preferences and budget.</p>
    </div>
  </div>
  <div class="col d-flex align-items-start">
    <div class="flex-shrink-0 me-3">
      <i class="fa-regular fa-heart"></i>
    </div>
    <div>
      <h4>Immerse yourself</h4>
      <p>Dive into the heart your destination with recommendations from the locals themselves. From off-the-beaten-path eateries to vibrant neighborhood markets, immerse yourself fully in the local lifestyle and create unforgettable memories.</p>
    </div>
  </div>
  <div class="col d-flex align-items-start">
    <div class="flex-shrink-0 me-3">
      <i class="fa-solid fa-house"></i>
    </div>
    <div>
      <h4>Book your home - or list your own</h4>
      <p>Maximize your property's potential by listing it as a vacation home. <%= link_to "Add your home", new_listing_path %> and unlock a new realm of income opportunities.</p>
    </div>
  </div>
</div>
