<div class="list-card">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="list-card-info">
    <div>
      <h2>{ Place }</h2>
      <p>{ Description of property }</p>
    </div>
    <h2 class="list-card-pricing">€ { }</h2>
  </div>
</div>
