<%# <% @listings.each do |listing| %>
  <div class="list-card">
    <div class="img" style="background-image: url('<%= listing.photos.attached? ? (cl_image_path listing.photos.first.key) : 'https://source.unsplash.com/random/?vacation'%>')"> </div>
    <div class="list-card-info">
      <div>
        <h2> <%= link_to listing.address, listing %> </h2>
        <p> <%= listing.category.capitalize %> </p>
      </div>
      <h2 class="list-card-pricing">€ <%= listing.price_per_night %></h2>
    </div>
  </div>
<%# <% end %>
