<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <i class="fa-solid fa-house"></i>
      <%# <img src="https://source.unsplash.com/random/?city,night" alt="Bootstrap" width="30" height="24"> %>
    </a>
    <a class="navbar-brand" href="/">rbnb</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="btn btn-primary" aria-current="page" href="/listings/new">Add a home</a>
        </li>
        <% if  user_signed_in? %>
        <li class="nav-item">
              <%= button_to(
                "Log Out",
                destroy_user_session_path,
                method: :delete, class: "btn btn-outline-primary")%>

            <%# <a class="nav-link" href="/users/sign_out">Log out</a> %>
          <% else %>
            <%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %>
            <%# <a class="nav-link" href="/users/sign_in">Log in</a> %>
          <% end %>
        </li>
          <% if user_signed_in? %>
         <li>
            <a href="/dashboard">
             <%= image_tag "https://robohash.org/#{current_user.email}?set=set4", :class => "avatar" %>
             <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
