<div class="container px-4 pt-5 border-bottom">
  <%= render "shared/home-features" %>
</div>

<div class="container px-4 ">
  <h3 class="pt-4 text-center">Listings</h3>
  <div class="list-card-container ">
    <%= render "shared/list-card" %>
  </div>
</div>
