<h3>Check out listings</h3>
<p> < placeholder for listings where we iterate over Listings.all and put some properties in a listing card >: </p>

<div class="list-card-container">
  <%= render "shared/list-card" %>
</div>
