.list-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3em;
}

.list-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.list-card > .img {
  height: 200px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.list-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.list-card a {
  text-decoration: none;
}

.list-card p {
  font-size: 15px;
  opacity: .7;
  margin: 0;
}

.list-card .list-card-info {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
