.listing-button {
  padding: 10px 20px;
  background-color: #5f0f40;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 40%;
  a {
    display: flex;
    text-align: center;
    align-items: center;
    line-height: 30px;
    color: rgb(253, 253, 253) !important;
    text-decoration: none;
    font-size: larger;
    a :hover {
      color: rgb(253, 253, 253) !important;
    }
  };
}
