.navbar-lewagon {
  justify-content: space-between;
  background: #F4F4F4;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.ml-auto {
  margin-left: auto;
}

.navbar-nav .btn {
  padding: 10px 20px;
  background-color: #5f0f40;
  color: #fff !important;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 20px;
}

.navbar-nav .btn:hover {
  background-color: #9a031e;
}

.navbar-nav .btn.btn-primary {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}
.avatar {
  border: 1px solid #5f0f40; /* You can adjust the border width and color as needed */
  border-radius: 50%;
  background-color: #c7c7c7; /* This creates a circular border */
}

.avatar:hover {
  background-color: #b17f9e;
}
