.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.ml-auto {
  margin-left: auto;
}

.navbar-nav .nav-link {
  padding: 10px 20px;
  background-color: #5f0f40;
  color: #fff !important;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 20px;
}

.navbar-nav .nav-item:last-child .nav-link {
  margin-right: 0;
}

.navbar-nav .nav-link:hover {
  background-color: #9a031e;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}
